/* table.css */
.table {
    width: 70%;
    border-collapse: collapse;
    margin: 4rem 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.table th,
.table td {
    padding: 20px;
    text-align: center;
    /* border: 1px solid #ddd; */
}

.table th {
    background-color: #fafafb;
}

.table td.actions {
    display: flex;
    justify-content: center;
    align-items: center;
}

.table td.actions>* {
    margin: 0 4px;
    cursor: pointer;
}

tbody tr {
    background-color: white;
}